/* Your product landing page should have at least one media query
Your product landing page should utilize CSS flexbox at least once */

:root{
    --color1:rgb(245,147,49);
    --color2:rgb(35,31,32);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 62.5%;
}
body{
background-color: rgb(245, 246, 247);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position:fixed;
    top:0;
    width: 100vw;
    min-height: 10vh;
    background-color: rgb(245, 246, 247);
}
#header-img{
    width:10%;
    min-height: auto;
    margin-left: 5%;
}
#nav-bar{
    display: flex;
    margin-right: 5%;
    width:50%;
    justify-content: center;
}
#nav-bar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar ul li{
    font-size: 1.7rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
}
#nav-bar ul li a{
    text-decoration: none;
    color: var(--color1);
    letter-spacing: 0.1rem;
}
#nav-bar ul li a:hover{
    color: var(--color2);
    background-color: var(--color1);
    border-bottom: 2px solid var(--color2);
}


#display-info{
    width: 100%;
    min-height: 100vh;
    background: url(background-image1.png) fixed no-repeat center;
    object-fit:fill;
    display: flex;
    justify-content: center;
    align-items: center;
}
#How_it_Works{
    width: 70%;
    margin: 20px auto;
}
.heading-title{
    text-align: center;
    line-height: 2.5;
    font-size: 3.5rem;
    color: var(--color1);
    letter-spacing: 2px;
}
#video{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 2px var(--color1),
    5px 0px 2px var(--color2);
    margin: 20px 0;
}
#form{
    width: 50%;
    /* border: 1px solid black; */
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
input[type="email"]{
    width: 80%;
    font-size: 2.2rem;
    color: var(--color1);
    text-align: center;
    line-height: 2;
    border: none;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    /* box-shadow: 1px 1px 1px 2px var(--color2); */
    background-color: #fff;
}
input[type="submit"]{
    align-self: flex-end;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color2);
    background-color: var(--color1);
    font-weight: bold;
    line-height: 2;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;


}
#form h2{
    margin: 20px 0;
    color: var(--color2);
    font-size: 2.3rem;
    text-transform: uppercase;
}
.merge{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 2.5rem;
}
#Features{
    width:70%;
    margin: 0 auto;
    /* height: 420px;
    overflow: hidden; */
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 45px;
}
.grid:first-of-type{
    margin-top: 50px;
}
.grid img{
    width: 10rem;
    margin-right: 9rem;
}
.desc{
    width:60%;
}
.desc h3{
    color: var(--color1);
    letter-spacing: 0.1rem;
    margin: 5px 0;
    text-decoration: underline;
}
.desc p{
    color: var(--color2);
    text-align: justify;
}

#Pricing{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box{
    width: 25%;
    margin: 25px 0;
    border: 1px solid var(--color2);
    border-radius: 10px;
}
.box .box-title{
    text-align: center;
    color: var(--color1);
    font-size: 1.8rem;
    padding: 15px 0;
    background-color: rgb(65, 67, 69);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box .box-price{
    text-align: right;
    font-size: 1.5rem;
}
.box ul{
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
    line-height: 1.6;
    font-size: 1.4rem;
}
.choose-btn{
    width: 100%;
}
.choose-btn button{
    width: 100%;
    font-size: 1.6rem;
    color: var(--color2);
    padding: 10px 0;
    background-color: var(--color1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border: none;
}

/* styling for footer */
footer{
    width: 100%;
    background-color: var(--color2);
    color: #fff;
    margin-top: 30px;
    padding: 50px 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width:750px) {
    
#Pricing{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .box{
        width: 35%;
    }

    #Features{
        width:100%;
        margin: 0 auto;
        /* height: 420px;
        overflow: hidden; */
    }
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .grid img{
        width: 7rem;
        margin-right: 9rem;
    }


    footer{
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}