*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #160d00;
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
#wrapper-section{
    display: flex;
    height: 100vh;
}
#left-menu-section{
    width: 30%;
    max-height: 100vh;
    background-color:#dcdcdc;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#right-detail-section{
    width: 70%;
    max-height: 100vh;
    background-color:ghostwhite;
    overflow-y: scroll;
    overflow-x: hidden;
}
#profile-image{
    width: 200px;
    height: 200px;
    margin: 2rem 0;
    /* border: 2px solid rgb(32, 138, 253); */
    border-radius: 50%;
    box-shadow:2px 2px 4px 0px rgb(145, 145, 145);
}
#main-title-name{
    color: rgb(32, 138, 253);
    text-transform: uppercase;
    line-height: 1.5;
}
.additional-style{
    text-transform: uppercase;
    color: orangered;
    text-decoration: underline;
}
#person-designation{
    line-height: 1.2;
    padding: 10px 0;
}
#left-menu-section ul{
    list-style-type: none;
}
#left-menu-section ul li a{
    text-decoration: none;
    color: #160d00;
}
#left-menu-section ul li a:hover{
    text-decoration: underline;
    color: rgb(32, 138, 253);
    font-style: 400;
    text-transform: uppercase;
}
#left-menu-section ul li{
    padding: 0px 0px 20px 0;
    text-align: center;
}

#about-us{
    height: 100vh;
}
#services{
    height: 100vh;
}
#skills{
    height: 100vh;
}
#education{
    height:100vh;
}
#experience{
    height:100vh;
}
#work-history{
    height:100vh;
}
.card-icon{
    width: 50px;
    height: 50px;
}
.skill-icon{
    width: 25px;
    height: 25px;
}