#search {
    width: 200px;
    height: 40px;
    background-color: #bbb;
    border-radius: 20px;
    padding: 0px 20px;
    line-height: 40px;
    cursor: pointer;
    transition: 1s ease-in-out 0.2s;
}
#search:hover{
    width: 400px;
}
#face_body{
    width: 400px;
    height: 400px;
    background-color: #f9d003;
    border-radius: 50%;
    transform: translate(400px, 100px);
}
#lip {
    width: 200px;
    height: 65px;
    background-color: whitesmoke;
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 250px;
    left: 100px;
}
#tongue {
    width: 50px;
    height: 100px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    left: 75px;
    top: 50px;
    
}
.eyes {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid #fff;
    position: absolute;
    top: 100px;
}
#left-eye {
    left: 100px;
}
#right-eye {
    left: 250px;
}
.eye-circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    top: 25px;
}
#left-circle {
    left: 25px;
}
#right-circle {
    left: 25px;
}