*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
}
.gallery::after{
    content: "";
    width: 350px;
}
.header{
    text-align: center;
    background-color:saddlebrown;
    color: #fff;
    padding:32px;
    text-transform: uppercase;
    border-bottom: 4px solid goldenrod;
}
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
